<h1>Trainer</h1>

<div data-ng-if="isWorking">
    <img src="img/loading.gif" alt="Loading..."/>
</div>

<div data-ng-if="stats !== null">
    <div class="stats">Statistics:</div>
    <ul>
        <li>Total words in dictionary: {{stats.wordsTotal}}</li>
        <li>Words to repeat: {{stats.wordsToRepeat}}</li>
        <li>Words to repeat right now: {{stats.wordsToRepeatNow}}</li>
        <li>Words learned: {{stats.wordsLearned}}</li>
    </ul>
</div>

<div>
    <button class="btn btn-primary btn-lg" data-ng-click="go('/train-prepare')">Train</button>
    <button class="btn btn-default btn-lg" data-ng-click="go('/dict')">My Dictionary</button>
</div>